name: Build and Prepare for Preview/Push

on:
  workflow_call:

jobs:
  compile:
    name: Compile TypeScript and Download Binaries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - name: Download dependencies and binaries
        run: pnpm install --frozen-lockfile
      - name: Build JS files
        run: pnpm run build
      - name: Upload compiled JS
        uses: actions/upload-artifact@v4
        with:
          name: out
          path: packages/polaris-dns/out/*
      - name: Upload DNSControl binaries
        uses: actions/upload-artifact@v4
        with:
          name: bin
          path: packages/dnscontrol-download/bin/dnscontrol-*
