name: DNSControl Push

on:
  push:
    branches: [main]

# Cancel in-progress runs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  validate:
    name: Validate
    uses: ./.github/workflows/_reusable-validate.yml

  prepare:
    name: Build
    needs: validate
    uses: ./.github/workflows/_reusable-prepare.yml

  push:
    name: Push
    needs: [validate, prepare]
    uses: ./.github/workflows/_reusable-push.yml
    secrets:
      CF_API: ${{ secrets.CF_API }}
