name: DNSControl Push

on:
  push:
    branches: [main]

jobs:
  prepare:
    uses: ./.github/workflows/prepare.yml
  push:
    name: Push DNS changes
    needs: prepare
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Download DNSControl binaries
        uses: actions/download-artifact@v4
        with:
          name: bin
          path: bin
      - name: Download compiled JS
        uses: actions/download-artifact@v4
        with:
          name: out
          path: out
      - name: Make binaries executable
        run: chmod +x dnscontrol-*
        working-directory: bin
        shell: bash
      - name: Generate and push records
        run: ../bin/dnscontrol-Linux --diff2 push
        working-directory: out
        shell: bash
        env:
          CF_API: ${{ secrets.CF_API }}
